@import 'variables.scss';
@import 'animations.scss';
@import 'mixins.scss';

.home-content {
    width: 90vw; /* 90% of viewport vidth */
    height: 50.625vw; /* ratio = 9/16 * 90 = 50.625 */
    background: $dark-blue;
    max-height: 720px;
    max-width: 1280px; /* 16/9 * 90 = 160 */
    margin: auto;
    position: absolute;
    top:0;bottom:0;left:0;right:0;
    opacity: 1;

    &__sidebar {
        height: 100%;
        display: block;
        background-color: rgba(66, 73, 101, 0.1);
        width: auto;
        float: left;
        opacity: 1;
        position: relative;
        &-content {
            height: calc(100%);

            &__linklist {
                list-style: none;
                text-decoration: none;
                display: flex;
                flex-direction: column;

                // &-homeButton {
                //     &:hover, &:active, &:focus, &:target {
                //         color: $blue2
                //     }
                // }
                // &-projectButton {
                //     &:hover, &:active, &:focus, &:target {
                //         color: $red1
                //     }
                // }
                // &-contactButton {
                //     &:hover, &:active, &:focus, &:target {
                //         color: $green3
                //     }
                // }

                & > a {
                    font-weight: 200;
                    font-size: calc(16px + .35vw);
                    color: $off-white;

                    &:nth-of-type(1) > li > div > span {
                        margin-left: 9px;
                    }
                    &:nth-of-type(2) > li > div >  span {
                        padding-top: 1px;
                    }
                    &:nth-of-type(3) > li > div >  span {
                        margin-left: 9px;
                        padding-top: 0px;
                    }
                    &:nth-of-type(4) > li > div > span {
                        margin-left: 9px;
                    }
                    &:nth-of-type(2) > li > div > svg {
                        margin-left: 2px;
                    }
                    &:nth-of-type(3) > li > div > svg {
                        margin-left: 0px;
                    }

                    @include breakpoint($small-laptop) {
                        width: 100%;
                        text-align: center;
                    }        
                    
                    &:last-of-type > li {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        padding-left: 20px;
                        padding-right: 10px;

                        @include breakpoint($small-laptop) {
                            padding-right: 0px;
                            padding-left: 0px;
                            padding-bottom: 5px;
                            width: 100%;
                            transform: translateX(-25%);
                        }
                    }

                    & > li {
                        padding-top: 9.5px;
                        padding-bottom: 9.5px;
                        padding-left: 10px;
                        padding-right: calc(5px + 1.75vw);
                        width: auto;
                        align-items: center;
                        display: flex;

                        @include breakpoint($small-laptop) {
                            padding-left: 10px;
                            padding-right: 10px;
                            padding-bottom: 7px;
                        }
                        & > div {
                            width: auto;
                            align-items: center;
                            display: flex;
                        }

                        & > div > svg {
                            vertical-align: middle;
                        }
    
                        & > div > span {
                            margin-left: 7px;
                            vertical-align: middle;
                            font-size: calc(10px + .395vw);
                            font-weight: 500;
                            padding-top: 2.2px;
                            
                            @include breakpoint($small-laptop) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    &__content {
        overflow:hidden;
        width: auto;
        height: 100%;
        border:none;
        border-left: 5px solid $blue2;
        -webkit-box-shadow: inset 0 7.5px 0 $blue2, inset 0 -20px 0px 0px $blue2;
        -moz-box-shadow: inset 0 7.5px 0 $blue2, inset 0 -20px 0px 0px $blue2;
        -webkit-box-shadow: inset 0 7.5px 0 $blue2, inset 0 -20px 0px 0px $blue2;
        box-shadow: inset 0 7.5px 0 $blue2, inset 0 -20px 0px 0px $blue2;

    }
}

.bg {
    animation:slide 8s ease-in-out infinite alternate;
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
  
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:9s;
}
  
.bg3 {
    animation-duration:11s;
}

.link-container {
    height: 100%;
    width: 100%;
}