@import 'variables.scss';
@import 'animations.scss';

.home-content {
    $sidebar-width: 165px;

    width: 90vw; /* 90% of viewport vidth */
    height: 50.625vw; /* ratio = 9/16 * 90 = 50.625 */
    background: $dark-blue;
    max-height: 90vh;
    max-width: 160vh; /* 16/9 * 90 = 160 */
    margin: auto;
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;

    &__sidebar {
        height: 100%;
        display: block;
        background-color: $light-blue;
        width: auto;
        float: left;

        &-content {
            height: calc(100%);

            &__portrait {
                height: calc(135px + 5vw);
                background-color: $off-white;
            }
            &__linklist {
                list-style: none;
                text-decoration: none;
                padding-right: calc(5px + .4vw);
                width: 100%;

                & > li {
                    padding-top: 2.5px;
                    padding-bottom: 2.5px;

                    &:hover {
                        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
                        background-size: 400% 400%;
                        animation: gradient 10s ease infinite;
                    }

                    &:first-child {
                        margin-top: 15px;
                    }

                    & > a {
                        font-weight: 600;
                        color: $off-white;
                        padding: 20px;
                        


                        & > svg {
                            vertical-align: middle;
                        }
    
                        & > span {
                            margin-left: 10px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }

    &__content {
        overflow:hidden;
        width: auto;
        height: 100%;
    }
}