.projectslider-content {
    $button-height: 50px;
    $button-width: 50px;
    $menu-height: 62px;

    width: 100%;
    height: 100%;

    &__menu {
        width: 100%;
        height: $menu-height;
        background: linear-gradient(180deg,rgb(74, 74, 74) 33%,rgb(46, 46, 46));
    }

    &__project {
        width: 100%;
        height: calc(100% - #{$menu-height});
        position: relative;
        flex-direction: row;
        overflow: hidden;
        &-rightbutton {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1000;
            opacity: 0;

            & > svg {
                width: 50px;
                height: 50px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
        &-leftbutton {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1000;
            opacity: 0;

            & > svg {
                width: 50px;
                height: 50px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}