.project-slider {
    $button-height: 50px;
    $button-width: 50px;

    width: 100%;
    height: 100%;

    .menu {
        width: 100%;
    }

    .projects-container {
        width: 100%;
        height: 100%;
        position: relative;
        flex-direction: row;
        overflow: hidden;

        .right-button {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1000;
            opacity: 0;

            &>svg {
                width: calc(30px + 2.5vw);
                height: calc(30px + 2.5vw);

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .left-button {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1000;
            opacity: 0;

            &>svg {
                width: calc(30px + 2.5vw);
                height: calc(30px + 2.5vw);

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}