$light-blue: #424965;
$dark-blue: #21212f;
$off-white: #f3f3f3;
$mid-gray: #1a1a1b;
$dark-gray: #121212;

$green1: #b5e48c;
$green2: #99d98c;
$green3: #76c893;
$green4: #52b69a;

$red1: #e5383b;
$red2: #C83134;

$blue1: #4BA8F6;
$blue2: #3E96FD;

$bg-darkblue: #0F253F;
$bg-blue: #17385F;

$bg-darkred: #1D0707;
$bg-red: #390E0F;

$bg-darkgreen: #0F1912;
$bg-green: #1D3225;


$tablet: 800px;
$phone: 380px;